<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Produtos</title>
</head>
<body>
<div layout:fragment="conteudo">
  <h1>Listagem de Produtos</h1>
  <table>
    <thead>
    <tr>
      <th>Nome</th>
      <th>Classificação</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produtos: ${lista}">
      <td th:text="${produtos.nome}"></td>
      <td th:text="${produtos.classificacao}"></td>
      <td>
        <a th:href="@{/produtos/formulario?idProduto={idProduto}(idProduto=${produtos.idProduto})}">Editar</a>
        <form action="/produtos" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="id" th:value="${produtos.idProduto}">
          <input type="submit" value="Excluir">
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: center;">
    <a href="/produtos/formulario">Novo</a>
    <a href="/menus/principal">Menu Principal</a>
  </div>
</div>
</body>
</html>